{% extends "base.html" %}

{% block nav %}
  {% if request.user.is_authenticated %}
  
    
  <div class="container" style="margin-left: 1100px;position: fixed; ">
    <button  class="btn btn-outline-dark my-3" id="reset-chat"><svg xmlns="http://www.w3.org/2000/svg"
        width="20" height="20" fill="currentColor" class="bi bi-chat-dots" viewBox="0 0 16 16">
        <path
        d="M5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                            <path
                            d="m2.165 15.803.02-.004c1.83-.363 2.948-.842 3.468-1.105A9.06 9.06 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.437 10.437 0 0 1-.524 2.318l-.003.011a10.722 10.722 0 0 1-.244.637c-.079.186.074.394.273.362a21.673 21.673 0 0 0 .693-.125zm.8-3.108a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6c0 3.193-3.004 6-7 6a8.06 8.06 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a10.97 10.97 0 0 0 .398-2z" />
                        </svg> <b>New Chat</b></button>
                    </div>
                    
                    <div class="container my-3">
                        <p><b class="text-primary">ChatBot</b>: May I know what is bothering you?</p>
                        <div id="chat-history" >
                            {% for i in data %}
                            <p><b class="text-danger">{{user.username}}</b> : {{ i.user_input }}</p>
                            <p><b class="text-primary">Chatbot</b> : {{ i.chatbot_response }}</p>
                            <hr>
                            {% endfor %}
                        </div>
                        
                        <form action="chatapi" method="post">
                            {% csrf_token %}
                            <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
                                <div class="input-group mb-0">
                                    <input type="text" class="form-control" placeholder="Type message"
                                    name="message" aria-describedby="button-addon2" />
                                    <button class="btn btn-warning" type="submit" id="button-addon2" style="padding-top: .55rem;">
                                        Button
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div> 
                    
                    {% endif %}

                    <script>
                        document.getElementById("reset-chat").addEventListener("click", function() {
                        
                            // Clear chat history
                            document.getElementById("chat-history").innerHTML = "";
                        });
                        </script>                  
                    {% endblock nav %}